/* ACADEMIA DESKTOP */

.academiaContainer{
    margin-top: 100px;
    margin-left: 5%;
    width: 90%;
    overflow-y: hidden;
}

.headerAcademia{
    position: relative;
    height: 80vh;
    background-image: url('https://i.postimg.cc/TwmB4x4H/foto-academia-1.png');
    background-size: cover;
    font-family: 'Reservation';
    color: #ffff;
}

.headerItem1{
    font-size: 3rem;
}

.headerItem2{
    font-size: 1.2rem;
}

.headerItem3{
    font-size: 1.4rem;
    margin-top: 2.2rem;
}

.headerItemPosition1{
    position: absolute;
    top: 35%;
    left: 20%;
}

.headerItemPosition2{
    position: absolute;
    top: 83%;
    left: 92%;
}

.headerItemPosition2 img{
    height: 120px;
}

.MUDMaquillajeProfesional{
    height: 90vh;
    margin-top: 10vh;
}

.MUDMaquillajeProfesional h1{
    font-family: 'Reservation';
    color: #ffff;
    font-size: 3rem;
}

.academia{
    margin: 100px auto;
    width: 100%;
    height: 95vh;
    display: flex;
    position: relative;
    top: 50px;
}

.academiaCarousel img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.academiaBotones{
    margin-top: 1rem;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.academiaBotones button{
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 15px 10px 0px 0px;
}

.academiaBotones button:hover{
    opacity: .4;
}

.academiaInfo{
    font-family: 'Reservation';
    font-size: 1rem;
    width: 80%;
    padding: 2rem;
    height: 95vh;
    overflow-y: scroll; 
    color: #fff;
}

.academiaInfoDetalle{
    font-family: 'Reservation';
    margin-top: 1rem;
    padding: 2rem;
}

.botonInscripcion{
    font-size: 1.3rem;
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
    height: 70px;
    width: 250px;
    border-radius: 5px;
    margin: 15px 10px 0px 0px;
}

.academiaInfoDetalle .botonInscripcion:hover{
    opacity: .5;
}

.informacion{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.parrafoAcademia{
    margin-top: 1.5rem;
}

/* FIN ACADEMIA DESKTOP*/

/* ACADEMIA CHICO */

@media all and (max-width: 1600px){
    
    .academia{
        margin: 0px auto;
        display: flex;
        position: relative;
        top: 50px;
    }

    .headerItemPosition2 img{
        height: 100px;
    }

    .headerItem1{
        font-size: 2.5rem;
    }
    
    .headerItem2{
        font-size: 1.0rem;
    }
    
    .headerItem3{
        font-size: 1.4rem;
        margin-top: 2.2rem;
    }
    
    .headerItemPosition1{
        position: absolute;
        top: 35%;
        left: 21%;
    }
    
    .headerItemPosition2{
        position: absolute;
        top: 83%;
        left: 92%;
    }

    .headerItemPosition2{
        position: absolute;
        top: 80%;
        left: 90%;
    }
    
    .headerItemPosition2 img{
        height: 100px;
    }

    .academiaInfo{
        width: 100%;
    }

}
  
  /* FIN ACADEMIA CHICO */

   /* ACADEMIA TABLET */

@media all and (max-width: 769px){
    
    .academia{
        display: flex;
        flex-direction: column;
        height: 150vh;
    }

    .academiaCarousel img{
        height: 300px;
        width: 100%;
    }

    .headerItem1{
        font-size: 2.5rem;
    }
    
    .headerItem2{
        font-size: 1.0rem;
    }
    
    .headerItem3{
        font-size: 1.4rem;
        margin-top: 2.2rem;
    }
    
    .headerItemPosition1{
        position: absolute;
        top: 35%;
        left: 0%;
    }
    
    .headerItemPosition2{
        position: absolute;
        top: 83%;
        left: 92%;
    }

    .headerItemPosition2{
        position: absolute;
        top: 80%;
        left: 85%;
    }
    
    .headerItemPosition2 img{
        height: 100px;
    }
}
    /* FIN TABLET */


  /* ACADEMIA MOBILE */

  @media all and (max-width: 469px){

    .headerAcademia{
        background-position-x: -200px;
    }
    
    .headerItem1{
        font-size: 2rem;
        margin-top: 2rem;
    }
    
    .headerItem2{
        font-size: 1rem;
        margin-top: 2rem;
    }
    
    .headerItem3{
        font-size: 1rem;
        margin-top: 7rem;
    }
    
    .headerItemPosition1{
        position: absolute;
        top: 25%;
        left: 0%;
    }
    
    .headerItemPosition2{
        position: absolute;
        top: 85%;
        left: 75%;
    }
    
    .headerItemPosition2 img{
        height: 75px;
    }
  

    .academia{
        margin: 100px auto;
        width: 100%     ;
        height: 95vh;
        display: flex;
        flex-direction: column;
        position: relative;
        top: 50px;
    }

    .academiaCarousel img{
        height: 200px;
        width: 100%;   
    }

    .academiaCarousel{
        width: 100%;
        height: 200px;
    }

    .academiaInfo{
        margin-top: 0rem;
        height: 600px;
        width: 100%;
        overflow-y: auto;
    }

    .academiaBotones{
        margin-top: 0rem;
        display: flex;
        flex: 2;
        flex-wrap: wrap;
        justify-content: space-evenly;    
    }

    .infoAcademia{
        padding: 20px;
        font-size: 1rem;    
        height: 400px;
        overflow-y: auto;
    }

    .academiaInfoDetalle{
        font-family: 'Reservation';
        margin-top: 1rem;
        padding: 0rem;
    }
}
  
  /* FIN MOBILE */



























