/* ACADEMIA DESKTOP */

.academiaContainer{
    margin-top: 100px;
    margin-left: 5%;
    width: 90%;
    overflow-y: hidden;
}

.headerAcademia{
    position: relative;
    height: 80vh;
    background-image: url('https://i.postimg.cc/TwmB4x4H/foto-academia-1.png');
    background-size: cover;
    font-family: 'Reservation';
    color: #ffff;
}

.headerItem1{
    font-size: 3rem;
}

.headerItem2{
    font-size: 1.2rem;
}

.headerItem3{
    font-size: 1.4rem;
    margin-top: 2.2rem;
}

.headerItemPosition1{
    position: absolute;
    top: 35%;
    left: 25%;
}

.headerItemPosition2{
    position: absolute;
    top: 70%;
    left: 85%;
}

.MUDMaquillajeProfesional{
    height: 90vh;
    margin-top: 10vh;
}

.MUDMaquillajeProfesional h1{
    font-family: 'Reservation';
    color: #ffff;
    font-size: 3rem;
}

.academia{
    margin: 100px auto;
    width: 100%;
    height: 95vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    position: relative;
    top: 50px;
}

.academiaCarousel img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.academiaBotones{
    margin-top: 1rem;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.academiaBotones button{
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 15px 10px 0px 0px;
}

.academiaBotones button:hover{
    opacity: .4;
}

.academiaInfo{
    font-family: 'Reservation';
    font-size: 1rem;
    width: 80%;
    padding: 2rem;
    height: 95vh;
    overflow-y: scroll;
}

.academiaInfoDetalle{
    font-family: 'Reservation';
    margin-top: 4rem;
}

/* FIN ACADEMIA DESKTOP*/

/* ACADEMIA CHICO */

@media all and (max-width: 1600px){
    
    .academia{
        margin: 0px auto;
        background-color: rgb(255, 255, 255);
        display: flex;
        position: relative;
        top: 50px;
    }

}
  
  /* FIN ACADEMIA CHICO */

   /* ACADEMIA TABLET */

@media all and (max-width: 769px){
    
    .academia{
        display: flex;
        flex-direction: column;
        height: 150vh;
    }

    .academiaCarousel img{
        height: 300px;
        width: 100%;
    }
}
    /* FIN TABLET */


  /* ACADEMIA MOBILE */

  @media all and (max-width: 469px){
  

    .academia{
        margin: 100px auto;
        width: 100%     ;
        height: 95vh;
        display: flex;
        flex-wrap: wrap;
        background-color: rgb(255, 255, 255);
        position: relative;
        top: 50px;
    }

    .academiaCarousel img{
        height: 200px;
        width: 100%;   
    }

    .academiaCarousel{
        width: 100%;
        height: 200px;
    }

    .academiaInfo{
        margin-top: 0rem;
        height: 500px;
        width: 100%;
        overflow-y: auto;
    }

    .academiaBotones{
        margin-top: 0rem;
        display: flex;
        flex: 2;
        flex-wrap: wrap;
        justify-content: space-evenly;    
    }

    .infoAcademia{
        padding: 20px;
        font-size: 1rem;    
        height: 400px;
        overflow-y: auto;
    }
}
  
  /* FIN MOBILE */



























