
.contactoContainer{
    width: 700px;
    margin: 100px auto;
}

.infoContacto{
    font-family: 'Reservation';
    font-size: 1rem;
    color: #ffff;
}

.formContactoContainer{
    font-family: 'Reservation';
    font-size: 1rem;
    color: #ffff;
    display: flex;
    flex-direction: column;
}

.formContainer{
    font-family: 'Reservation';
    font-size: 1rem;
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: 80vh
}

.formJunto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}

.formAbajo{
    display: flex;
    flex-direction: column;
}

label{
    text-align: left;
}