.cardsStaffContainer{
    height: 90vh;
    font-family: 'Reservation';
    font-size: 1rem;
    font-weight: 500;
    color: #ffff;
}

.cardsStaffContainer h1{
    font-family: 'Reservation';
    font-size: 3rem;
    font-weight: 500;
    color: #ffff;
}

.cardContainer{
    height: 250px;
    width: 500px;
    display: flex;
    flex-direction: row;
    border: 2px solid #ffff;
    background-color: rgb(55, 136, 207);
}

.cardContainer img{
    height: 250px;
}


.cardContainer p:first-child{
    font-size: 2rem;
}

