/* NAVBAR DESKTOP */

  .navContainer{
    position: fixed;
    background-color: rgb(0, 0, 0);
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #imgNav{
    display: block;
    height: 60px;
    margin-top: 15px;
    margin-right: 50px;
  }
  
  .nav{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    font-family: 'Reservation Bold';
    list-style-type: none;
  }

  .navItemsContainer{
    width: 80%; 
  }

  .navItem{
    color: #ffff;
    text-decoration: none;
    margin-left: 3rem;
  }

  .navItem:hover{
    color: rgb(60, 60, 60);
  }

  .dropDownContainer{
    position: relative;
    top: 15px;
  }
  
  .dropDown{
    height: 50px;
    color:#ffff;
    font-size: 1rem; 
    border-radius: 10px;
  }
  
  .dropDownBtn{
    cursor: pointer;
    margin-left: 3rem;
  } 

  .dropDownBtn a{
    color: #ffff;
    text-decoration: none;
  }

  .dropDownBtn a:hover{
    color: #ffff;
  }

  .dropDownContent{
    background-color: #010101;
    height: 390px;
    width: 400px;
    position: absolute;
    top: 60px;
    left: -130px;
  }
  
  .dropDownContent.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    transition: 1s ease;
  }

  .dropDownContent.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 1s ease;
  }

  .dropDownItem:hover{
    opacity: .7;
  }


/* FIN NAVBAR DESKTOP */



/* NAVBAR MOBILE */

@media all and (min-width: 769px){

  .burguer{
    display: none;
  }
}

@media all and (max-width: 769px){
  
  ul.nav{
   display: none;
  }

 .mudLogoNav{
  margin-bottom: 10px;
  margin-left: 20px;
 }

 .burguer{
  margin-right: 35px;
 }


  .nav.active{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    z-index: -1px;
    margin-left: -45px;
  }

}
  
/* FIN NAVBAR MOBILE */
  



  