/* BODY DESKTOP */

.videoBody{
  margin: -100px;
  height: 115vh;
  object-fit: contain;
  object-position: center;
}

.cardsBodyContainer{
  margin-top: 100px;
  font-family: 'Reservation';
  color: #ffff;
  height: 90vh;
}

.cardsBody{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
}

.letraIndex{
  margin-bottom: 50px;
}

.cardBodyContainer{
  margin: auto;
}

.tituloCardsBody{
  margin-top: 50px;
}

.cardsBody img{
  height: 500px;
}

.cardsBody img:hover{
  opacity: .6;
}

.mudAnimado{
  height: 240vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.letraAnimada {
  font-family: 'Reservation';
  color: #ffff;
  font-size: 254px;
}

.aboutIndex{
  height: 90vh;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

.aboutIndex img{
  height: 700px;
  object-fit: cover;
  width: 50%;
}

.aboutIndexInfo{
  width: 50%;
  height: 600px;
  font-family: 'Reservation';
  color: #ffff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2rem;
}

.aboutIndexInfo button{
  width: 50%;
  height: 50px;
  align-self: center;
}

.contactoInicioContainer{
  height: 90vh;
  width: 90%;
  margin: auto;
  background-image: url('https://i.postimg.cc/bwZPVy7g/6.jpg');
  background-position: center;
  background-repeat: no-repeat;
}

.contactoInicioInfo{
  position: relative;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contactoInicioInfo p{
  font-family: 'Reservation';
  font-size: 3rem;
  color: #ffff;
  position: absolute;
  bottom: 70%;
  left: 42%;
}

.botonesContacto{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  left: 42%;
  top: 70%;
  width: 300px;
}

.botonesContactoImg{
  height: 50px;
  cursor: pointer;
}

.botonesContactoImg:hover{
  opacity: .7;
}

.botonInicio{
    font-size: 1.3rem;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    height: 70px;
    width: 300px;
    border-radius: 5px;
    margin: 15px 10px 0px 0px;
}

.botonInicio:hover{
  opacity: .5;
}


/* FIN BODY DESKTOP */

/*BODY DESKTOP CHICO */

@media all and (max-width: 1600px){
  
  .videoBody video{
    margin-top: 100px;
    height: 1000px;
  }

  .videoBody.videoBodyItem{
    height: 100%;
  }
  
  .cardsBodyContainer{
    margin-top: 400px;
    height: 700px;
  }

  .cardsBody{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 60%;
    margin-top: 70px;
  }

  .cardBodyContainer h1{
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  .cardsBody img{
    height: 400px;
    width: 300px;
    object-fit: cover;
  }

  .contactoInicioInfo p{
    left: 35%;
  }

  .botonesContacto{
    left: 35%;
    top: 70%;
  }


}

/* FIN BODY DESKTOP CHICO */


/* BODY TABLET */


@media all and (max-width: 769px){
  
  .videoBody video{
    margin-top: 100px;
    height: 1200px;
  }

  .videoBody.videoBodyItem{
    height: 100%;
  }
  
  .cardsBodyContainer{
    margin-top: 500px;
    height: 1000px;
  }

 .cardsBody{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.tituloCardsBody{
  margin-bottom: 150px;
}

.cardBodyContainer h1{
  margin-bottom: 1rem;
}

.cardsBody img{
  height: 200px;
  width: 600px;
  object-fit: cover;
}

.contactoInicioInfo p{
  font-family: 'Reservation';
  font-size: 3rem;
  color: #ffff;
  position: absolute;
  bottom: 65%;
  left: 25%;
}

.botonesContacto{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  left: 27%;
  top: 65%;
}

.botonesContactoImg{
  height: 40px;
  cursor: pointer;
}

.botonInicio{
  font-size: 1rem;
  height: 70px;
  width: 300px;
}

}


/* FIN TABLET MOBILE */


/* BODY MOBILE */

@media all and (max-width: 426px){
  
  .videoBody video{
    margin-top: 200px;
    height: 800px;
  }
  
  .cardsBodyContainer{
    margin-top: 150px;
    height: 1200px;
  }

 .cardsBody{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 50px;
  height: 80%;
}

.cardBodyContainer h1{
  margin-bottom: 1rem;
}

.cardsBody img{
  height: 200px;
  width: 350px;
  object-fit: cover;
}

.aboutIndex{
  width: 90%;
  display: flex;
  flex-direction: column;
}

.aboutIndex img{
  height: 300px;
  width: 100%;
  object-fit: cover;
  
}

.aboutIndexInfo{
  width: 100%;
  height: 600px;
  font-family: 'Reservation';
  color: #ffff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.aboutIndexInfo button{
  width: 50%;
  height: 30px;
  border-radius: 5px;
}

.contactoInicioContainer{
  height: 800px;
}

.contactoInicioInfo p{
  font-family: 'Reservation';
  font-size: 2rem;
  color: #ffff;
  position: absolute;
  bottom: 70%;
  left: 20%;
}

.botonesContacto{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  left: 10%;
  top: 60%;
}

.botonesContactoImg{
  height: 40px;
  cursor: pointer;
}

}




  
/* FIN BODY MOBILE */