/* BODY MOBILE */

.imgIndex{
  height: 300px;
  object-fit: cover;
}

.videoBody{
  margin-top: 10vh;
  height: 500px;
  object-fit: cover;
  object-position: center;
}

.mudAnimado{
  font-family:'Reservation';
  font-size: 3rem;
  color: #ffff;
}

.letraIndex{
  font-family: 'Reservation';
  color: #ffff;
  font-size: 1.7rem;
}

.cardsBody{
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 20px;
  border-top: 2px solid #ffff;
}

.cardsBody img{
  width: 100%;
}

.aboutIndex{

}


/* FIN BODY MOBILE */


/* BODY DESKTOP */

@media screen and (min-width: 1050px) {

  .imgIndex{
    width: 100%;
    position: static;
  }
  
  .videoBody{
    margin: -100px;
    height: 115vh;
    object-fit: contain;
    object-position: center;
    overflow: hidden;

  }
  
  .tituloBody{
    font-family: 'Reservation';
    font-size: 2rem;
    color: #ffff;
    padding: 8%;
  }
  
  .cardsBody img{
   height: 300px;
   object-fit: cover;
  }
  
  .aboutIndex{
    
  }

  .mudAnimado{
    height: 240vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .letraAnimada {
    font-size: 254px;
  }

}
/* FIN BODY DESKTOP */