/* BODY DESKTOP */

.videoBody{
  margin: -100px;
  height: 115vh;
  object-fit: contain;
  object-position: center;
}

.cardsBodyContainer{
  font-family: 'Reservation';
  color: #ffff;
  height: 90vh;
}

.cardsBody{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
}

.cardBodyContainer{
  margin: auto;
}

.cardBodyContainer h1{
  margin-bottom: 3rem;
}

.cardsBody img{
  height: 500px;
}

.cardsBody img:hover{
  opacity: .6;
}

.mudAnimado{
  height: 240vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.letraAnimada {
  font-family: 'Reservation';
  color: #ffff;
  font-size: 254px;
}

.aboutIndex{
  height: 90vh;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

.aboutIndex img{
  height: 700px;
  object-fit: cover;
  width: 50%;
}

.aboutIndexInfo{
  width: 50%;
  height: 600px;
  font-family: 'Reservation';
  color: #ffff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2rem;
}

.aboutIndexInfo button{
  width: 50%;
  height: 50px;
  align-self: center;
}

.contactoInicioContainer{
  height: 90vh;
  width: 90%;
  margin: auto;
  font-family: 'Reservation';
  color: #ffff;
  background-image: url('https://i.postimg.cc/TwmB4x4H/foto-academia-1.png');
  background-position: center;
  background-repeat: no-repeat;
}

.contactoInicioInfo{
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


/* FIN BODY DESKTOP */


/* BODY MOBILE */

  
/* FIN BODY MOBILE */