  /* FOOTER DESKTOP */
  
.footerContainer{
  font-family: 'Reservation';
  color: #ffff;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 600px;
  border-top: 2px solid red;
}

.footerItem{
  display: flex;
}

.imgFooter:hover{
  opacity: .7;
}

.footerInfo{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footerEnd{
  margin: 1rem;
  color: #ffff;
  font-family: 'Reservation';
  font-size: .7rem;
}
  
  
  /* FIN FOOTER DESKTOP */

  /* FOOTER MOBILE */
@media screen and (max-width: 576px){

  .footerContainer{
    display: flex;
    flex-direction: column;
  }
 
}
/* FIN FOOTER MOBILE*/