  /* FOOTER DESKTOP */
  
.footerContainer{
  font-family: 'Reservation';
  color: #ffff;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 2px solid rgb(255, 255, 255);
}

.footerContainer img{
  height: 30px;
}

.footerInfo{
  height: 250px;
  width: 600px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footerInfo{
  height: 250px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.footerItem{
  display: flex;
}

.footerItem p{
  margin-bottom: 0;
  margin-left: 20px;
}

.imgFooter:hover{
  opacity: .7;
}


.footerEnd{
  margin: 1rem;
  color: #ffff;
  font-family: 'Reservation';
  font-size: .7rem;
}
  
  
  /* FIN FOOTER DESKTOP */

  /* FOOTER TABLET */
@media screen and (max-width: 769px){

  .footerContainer{
    width: 80%;
    height: 800px;
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .footerContainer{
    font-family: 'Reservation';
    color: #ffff;
    height: 600px;
    border-top: 2px solid rgb(44, 29, 172);
  }
  .footerInfo{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100%;
  }

  .footerTitulo2{
    margin-left: 140px;
  }

  .footerItem img{
    height: 30px;
    margin-right: 12px;
  }
 
}
/* FIN FOOTER TABLET*/

 /* FOOTER MOBILE */
 @media screen and (max-width: 469px){


  .footerItem2{
    margin-left: -20px;
  }

  .footerItem2:first-child{
    margin-left: -20px;
  }

  .footerItem p{
    margin-left: 15px;
  }


  .footerTitulo2{
    margin-left: 50px;
  }
 
}
/* FIN FOOTER MOBILE*/