  /* FOOTER DESKTOP */
  
.footerContainer{
  font-family: 'Reservation';
  color: #ffff;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 600px;
  border-top: 2px solid rgb(255, 255, 255);
}

.footerInfo{
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.footerItem{
  display: flex;
}

.footerItem p{
  margin-bottom: 0;
  margin-left: 1rem;
}

.imgFooter:hover{
  opacity: .7;
}


.footerEnd{
  margin: 1rem;
  color: #ffff;
  font-family: 'Reservation';
  font-size: .7rem;
}
  
  
  /* FIN FOOTER DESKTOP */

  /* FOOTER MOBILE */
@media screen and (max-width: 576px){

  .footerContainer{
    width: 80%;
    height: 800px;
    display: flex;
    flex-direction: column;
  }

  .footerContainer{
    font-family: 'Reservation';
    color: #ffff;
    height: 600px;
    display: flex;
    margin: auto;
    border-top: 2px solid rgb(44, 29, 172);
  }
  .footerInfo{
    display: flex;
    flex-direction: column;
    height: 300px;
  }

  .footerItem p{
    margin: auto;
  }

  .footerItem img{
    height: 30px;
    margin-right: 12px;
  }
  

 
 
}
/* FIN FOOTER MOBILE*/