*{
  scroll-behavior: smooth;
}


/* SOLO APP */
.App{
  background: #000;
  text-align: center;
  overflow-x: hidden;
}

/* FONTS */

@font-face {
  font-family: 'Reservation Bold';
  src: url(./Fonts/reservationwidebold.TTF);
}

@font-face {
  font-family: 'Reservation';
  src: url(./Fonts/reservationwideregular.TTF);
}

@font-face {
  font-family: 'Futura';
  src: url(./Fonts/futura.TTF);
}

/* FIN FONTS */

/* width */
::-webkit-scrollbar {
  width: 20px;
  background-color: #000;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(0, 0, 0); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 250, 250); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(26, 24, 24, 10); 
}

hr{
  color: #fff;
}











