.App{
  background: #000;
  text-align: center;
}

@font-face {
  font-family: 'Reservation Bold';
  src: url(./Fonts/reservationwidebold.TTF);
}

@font-face {
  font-family: 'Reservation';
  src: url(./Fonts/reservationwideregular.TTF);
}

@font-face {
  font-family: 'Futura';
  src: url(./Fonts/futura.TTF);
}

.imglogo{
  height: 4rem;
  margin-top: 15px;
}

.imglogo:hover{
  opacity: 0.7;
}

.nav{
  background-color: black;
  height: 4rem;
  display: flex;
  font-family: 'Reservation Bold';
  color: #ffff;
  justify-content: space-evenly;
  list-style-type: none;
}

.nav img{
  height: 20px;
  margin-top: 15px;
}
