.titulo{
    margin-top: 100px;
    font-family: 'Reservation';
    color: #ffff;
    font-size: 3.5rem;
}


.slider{
    height: 80vh;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slider-track{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(600px * 18);
    animation: scroll 25s linear infinite;
}


@keyframes scroll{
    0%{
        transform: translate(0);
    }
    
    100%{
        transform: translateX(calc(-250px * 9));
    }
}

.slider-track:hover{
    animation-play-state: paused;
}

.fotosMovimiento{
    height: 200px;
    width: 450px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 250px;
}

.imgGaleria{
    width: 100%;
    transition: transform 1s;
}

.imgGaleria:hover{
    transform: translateZ(20px);
}

.sliderWrap{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.sliderWrap .btnClose, .sliderWrap .btnPrev, .sliderWrap .btnNext{
    position: fixed;
    cursor: pointer;
    opacity: 0.6;
    color: #fff;
    z-index: 9999;
}

.sliderWrap .btnClose{
    top: 40px;
    right: 40px;
}

.sliderWrap .btnNext{
    top:50%;
    transform: translateY(-50%);
    right: 40px;
}

.sliderWrap .btnPrev{
    top:50%;
    transform: translateY(-50%);
    left: 40px;
}

.fullScreenImage{
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.fullScreenImage img{
    max-width: 100%;
    max-height: 100%;
    pointer-events: none;
    user-select: none;    
}