/* SERVICIO DESKTOP */

.serviciosContainer{
    margin-top: 180px;
    height: 85vh;
}

.Titulo{
    font-family: 'Reservation';
    color: #ffff;
    font-size: 70px;
    position: relative;
}

.tituloItem{
    font-family: 'Reservation';
    color: #ffff;
    display: flex;
    justify-content: center;
}

.servicioGuia p{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.servicioGuia a{
    text-decoration: none;
    color: #ffff;
}

.servicioGuia a:hover{
    color: rgb(187, 183, 183);
}

.servicioGuia button{
    font-family: 'Reservation';
    background-color: #000;
    border-radius: 15px;
    width: 25%;
    border-color: transparent;
    margin-top: 5rem;
}


.serviciosContainerItem{
    position: relative;
    height: 500px;
    width: 1200px;
    margin: 4rem auto;
}

.serviciosContainerItem1{
    position: absolute;
    top: 0; 
    height: 200px;
    width: 500px;
    background-image: url('https://i.postimg.cc/C1pw4dHd/IMG-3807.jpg');
    background-position: center;
}

.serviciosContainerItem2{
    position: absolute;
    right: 0;
    height: 200px;
    width: 500px;
    background-image: url('https://i.postimg.cc/C1pw4dHd/IMG-3807.jpg');
    background-position: center;
}

.serviciosContainerItem3{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 200px;
    width: 500px;
    background-image: url('https://i.postimg.cc/C1pw4dHd/IMG-3807.jpg');
    background-position: center;
}

.serviciosContainerItem4{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 200px;
    width: 500px;
    background-image: url('https://i.postimg.cc/C1pw4dHd/IMG-3807.jpg');
    background-position: center;
}

.servicioCarousel{
    width: 50%;
}

.servicioCarousel img{
    width: 100%;
    height: 95vh;
    object-fit: cover;
}

.servicio{
    margin: 100px auto;
    width: 90%;
    height: 95vh;
    display: flex;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 50px;
}


.servicioInfo{
    margin-top: 4rem;
    width: 70%;
}

.servicioBotones{
    margin-top: 1rem;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* FIN SERVICIO DESKTOP*/


/* SERVICIO CHICO */

@media all and (max-width: 1600px){
  
    .serviciosContainer{
        margin-top: 100px;
        height: 85vh;
    }

    .Titulo{
        font-size: 3.5rem;
        position: relative;
    }

}
  
  /* FIN SERVICIO CHICO */
  

  /* SERVICIO TABLET */

    @media all and (max-width: 769px){
  
    .serviciosContainer{
        margin-top: 140px;
        height: 100vh;
    }

    .serviciosContainerItem{
        position: relative;
        height: 900px;
        width: 100%;   
    }
    
    .serviciosContainerItem1{
        position: absolute;
        top: 0; 
        right: 25%;
        height: 200px;
        width: 400px;
        background-image: url('https://i.postimg.cc/C1pw4dHd/IMG-3807.jpg');
        background-position: center;
    }
    
    .serviciosContainerItem2{
        position: absolute;
        right: 25%;
        top: 25%;
        height: 200px;
        width: 400px;
        background-image: url('https://i.postimg.cc/C1pw4dHd/IMG-3807.jpg');
        background-position: center;
    }
    
    .serviciosContainerItem3{
        position: absolute;
        left: 23%;
        top: 50%;
        height: 200px;
        width: 400px;
        background-image: url('https://i.postimg.cc/C1pw4dHd/IMG-3807.jpg');
        background-position: center;
    }
    
    .serviciosContainerItem4{
        position: absolute;
        left: 23%;
        top: 75%;
        height: 200px;
        width: 400px;
        background-image: url('https://i.postimg.cc/C1pw4dHd/IMG-3807.jpg');
        background-position: center;
    }

}
  
  /* FIN TABLET */

  /* SERVICIO MOBILE */

  @media all and (max-width: 469px){
  
   

    .serviciosContainerItem{
        position: relative;
        
        width: 100%;   
    }
    
    .serviciosContainerItem1{
        position: absolute;
        top: 0; 
        right: 0;
        height: 200px;
        width: 100%;
        background-image: url('https://i.postimg.cc/C1pw4dHd/IMG-3807.jpg');
        background-position: center;
    }
    
    .serviciosContainerItem2{
        position: absolute;
        right: 0%;
        top: 25%;
        height: 200px;
        width: 100%;
        background-image: url('https://i.postimg.cc/C1pw4dHd/IMG-3807.jpg');
        background-position: center;
    }
    
    .serviciosContainerItem3{
        position: absolute;
        left: 0%;
        top: 50%;
        height: 200px;
        width: 100%;
        background-image: url('https://i.postimg.cc/C1pw4dHd/IMG-3807.jpg');
        background-position: center;
    }
    
    .serviciosContainerItem4{
        position: absolute;
        left: 0%;
        top: 75%;
        height: 200px;
        width: 100%;
        background-image: url('https://i.postimg.cc/C1pw4dHd/IMG-3807.jpg');
        background-position: center;
    }

    .servicio{
        margin: 100px auto;
        height: 95vh;
        display: flex;
        background-color: rgb(255, 255, 255);
        position: relative;
        top: 50px;
    }

}
  
  /* FIN MOBILE */


